/* Hero styles */

section#hero {
    width: 100%;
    height: 800px;
}

#hero .background {
    width: 100vw;
    height: inherit;
    position: absolute;
    background-size: 100vw;
    mask-image: url(../images/Vector-2.png);
    mask-repeat: no-repeat;
    mask-size: 750px;
    mask-position: 25% 50%;
    z-index: 0;
}

#hero .background img {
    width: 95vw;
}

#hero .content {
    width: inherit;
    height: inherit;
    padding-left: 5vw;
    padding-right: 5vw;
}

#hero .content .box {
    width: 40vw;
    height: 600px;
    min-height: fit-content;
    position: absolute;
    top: 160px;
    left: 50vw;
    border-radius: 25px;
    background-color: #39566A;
    z-index: 10;
}

#hero .top {
    width: 100%;
    height: 170px;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: space-between;
}

#hero .top p:first-child {
    font-size: 35px;
}

#hero .middle {
    height: 225px;
    background-color: #273b49;
}

#hero .bottom {
    width: 100%;
    min-height: 205px;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 26px;
}

#hero .meta_text {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #989898;
}

#hero .content .box.flex_container {
    width: 80vw;
    height: 225px;
    border-radius: 25px;
    position: relative;
    left: 5vw;
    top: 250px;
    background-color: #273b49;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 500;
    font-size: 55px;
    font-style: normal;
    color: #F2EAE4;
    align-items: center;
    z-index: 20;
}

#hero .box.flex_container > .flex_container {
    justify-content: center;
    padding: 25px;
}

#hero .half_width.flex_container > .donate_button {
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: #F2EAE4;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
}

#hero .donate_button > a {
    color: #273b49;
}

/* Funds section */

#funds .slide .slide_content_wrapper {
    flex: 1 0 50%;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    background-color: #273b49;
}

#funds .slide_img {
    width: 50%;
    height: 100%;
    padding: 15px;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

#funds .text .slide_img {
    display: none;
}

#funds .slide_img img {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
}

#funds .slide_content {
    width: 50%;
    padding: 15px;
    border-radius: 1.5rem;
    color: #F2EAE4;
    background-color: #39566A;
    position: relative;
    justify-content: space-between;
}

#funds .slide_content p {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    padding: 10px;
    padding-bottom: 5px;
}

#funds .slide_content ul li {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    padding: 10px;
    padding-bottom: 5px;
    list-style-position: inside;
}

#funds .text .slide_heading_background {
    border-radius: 1rem;
    padding: 10px;
    background-color: #273b49;
}

#funds .slide_heading_background h3 {
    text-align: center;
}

#funds .slide_content .donate_button {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #F2EAE4;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

#funds .donate_button a {
    color: #273b49;
    padding-right: 5px;
}

@media (max-width: 1199.98px) {
    
    /* Hero section */
    
    #hero .background {
        mask-size: 600px;
        mask-position: 20% 30%;
    }

    #hero .content .box {
        width: 50vw;
        top: 130px;
        left: 40vw;
    }

    #hero .top {
        height: 140px;
    }

    #hero .content .box.flex_container {
        top: 190px;
    }

    /* Funds section */

    #funds .slide .slide_content_wrapper {
        flex: 1 0 100%;
    }

    #funds .slide_content_wrapper .slide_img {
        display: none;
        padding: 10px;
    }

    #funds .text {
        display: flex;
        flex-direction: column;
    }

    #funds .text .slide_img {
        display: inline-block;
        height: 50%;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #funds .slide_img img {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        object-fit: cover;
    }

    #funds .slide_content_wrapper .slide_content {
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    
    /* Hero section */

    section#hero {
        height: 700px;
    }
    
    #hero .background {
        display: none;
    }

    #hero .content .box {
        width: 90vw;
        left: 5vw;
    }

    #hero .bottom {
        padding: 50px;
    }
}