/* Hero styles */

section#hero {
    width: 100%;
    height: 800px;
}

#hero .background {
    width: inherit;
    height: inherit;
    position: absolute;
    background-image: url(../images/Drones.avif);
    background-repeat: no-repeat;
    background-size: 100vw;
    mask-image: url(../images/Vector-2.png);
    mask-repeat: no-repeat;
    mask-size: 750px;
    mask-position: 25% 30%;
    z-index: 0;
}

#hero .content {
    width: inherit;
    height: inherit;
    padding-left: 5vw;
    padding-right: 5vw;
}

#hero .content .box {
    width: 40vw;
    height: 600px;
    min-height: fit-content;
    position: absolute;
    top: 160px;
    left: 50vw;
    border-radius: 25px;
    background-color: #39566A;
    z-index: 10;
}

#hero .top {
    width: 100%;
    height: 170px;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: space-between;
}

#hero .top p:first-child {
    font-size: 35px;
}

#hero .middle {
    height: 225px;
    background-color: #273b49;
}

#hero .bottom {
    width: 100%;
    min-height: 205px;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 26px;
}

#hero .meta_text {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #989898;
}

#hero .content .box.flex_container {
    width: 80vw;
    height: 225px;
    border-radius: 25px;
    position: relative;
    left: 5vw;
    top: 250px;
    background-color: #273b49;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 500;
    font-size: 55px;
    font-style: normal;
    color: #F2EAE4;
    align-items: center;
    z-index: 20;
}

#hero .box.flex_container > .flex_container {
    justify-content: center;
    padding: 25px;
}

#hero .half_width.flex_container > .donate_button {
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: #F2EAE4;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
}

#hero .donate_button > a {
    color: #273b49;
}

@media (max-width: 1199.98px) {
    #hero .background {
        mask-size: 600px;
        mask-position: 20% 30%;
    }

    #hero .content .box {
        width: 50vw;
        top: 130px;
        left: 40vw;
    }

    #hero .top {
        height: 140px;
    }

    #hero .content .box.flex_container {
        top: 190px;
    }
}

@media (max-width: 991.98px) {
    section#hero {
        height: 700px;
    }
    
    #hero .background {
        display: none;
    }

    #hero .content .box {
        width: 90vw;
        left: 5vw;
    }

    #hero .bottom {
        padding: 50px;
    }
}